<div class="col-md-8 blog-main">
  <div class="blog-post">
    <h1>Editing Blog</h1>
    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blogs_path %>
    <%= render 'form', blog: @blog %>
  </div>
</div>
