<div class="col-md-8 blog-main">
  <% if logged_in?(:site_admin) %>
    <div class="row">
      <div class="col">
        <%= link_to "Create New Post", new_blog_path, class: "btn btn-block btn-secondary" %>
      </div>
    </div>
  <% end %>
  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>

</div>

    <!-- closing divs for row and container on layout for now -->
