<div class="col-md-8 blog-main">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    From the Firehose
  </h3>
  <% if logged_in?(:site_admin) %>
    <div class="row">
      <div class="col">
        <%= link_to "Create New Post", new_blog_path, class: "btn btn-block btn-secondary" %>
      </div>
    </div>
  <% end %>

  <%= render @blogs %>

</div>

    <!-- closing divs for row and container on layout for now -->
