<div role="main" class="inner cover text-center">
  <h1 class="cover-heading">Hi there.</h1>
  <p class="lead">I'm a curious developer currently dabbling in the world of ruby.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
